

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

//variables//
$link-text-color: #fff;
$bg-color: #f1e9e9;
$button-bg-1: #541388;
$border-radius: 6px;
$overlay-color: #fff;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$fourth: rgb(241, 233, 233);
$gradient: linear-gradient(90deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);


//mixins//
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
}

.restaurant-title {
    font-family: 'Shrikhand', cursive;
}

nav {
    margin: 20px 0;
    a {
        @include flex-center;
    }
    i {
        font-size: 1.5em;
    }
}

a {
    text-decoration: none;
}

/* ***********************POUR LE PREMIER INDEX 1****************************** */
/* Loader chargement de la page
 */
.loader-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
    position: absolute;
    display: flex;
    align-items: center;
    animation: hide 2s linear;
    animation-fill-mode: forwards;
    visibility: visible;

    .loader {
        border: solid 10px #f9f9f9;
        //background-color: blue;
        border-top: 10px solid $primary;
        border-bottom: 10px solid $secondary;
        border-radius: 50%; 
        width: 100px;
        height: 100px;
        margin: auto;
        animation: spin 2s linear;
        animation-fill-mode: forwards;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        visibility: visible;
    }
}

@keyframes hide {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        visibility: visible;
    }

    100% {
        transform: rotate(360deg);
        visibility: hidden;
    }
}

.explorer-localisation {
    @include flex-center;
    background-color: rgb(221, 205, 205);
    i {
        padding-right: 10px;
    }
}

.header-reserver {
    text-align: center;
    background-color: $fourth;
    margin-top: -20px;
    h1 {
        padding-top: 30px;
    }
}

.btn {
    background: $gradient;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    margin-bottom: 30px;
    font-weight:700;
} 

.header-fonctionnement {
    margin: 20px;
    .fonctionnement-cards {
        @include flex-center;
        flex-direction: column;
    }
}

.fonctionnement-card {
    width: 90%;
    display: flex;
    align-items: center;
    padding: 5px 5px 10px 5px;
    margin: 10px 0;
    background-color: $fourth;
    border-radius: 20px;
    box-shadow: 1px 1px 12px rgb(179, 171, 171);
    .card__number {
        background: $primary;
        position: relative;
        left: -20px;
        padding: 5px 10px;
        margin-right: 2%;
        color: white;
        border-radius: 50px;
    }
    h4 {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 770px) {
    .header-fonctionnement {
        .fonctionnement-cards {
            flex-direction: row;
        }
        .fonctionnement-card {
            margin: 0 1%;
            max-width: 300px;
        }
    }
}

/* ***********************SECTION RESTAURANTS 1****************************** */

.restaurants {
    background-color: $fourth;
    padding-bottom: 40px;
    h2 {
        padding-top: 40px;
        margin: 20px;
    }
    .restaurants-cards {
        margin: 20px;
        @include flex-center;
        flex-direction: column;
    }
}

.restaurants-card {
    background-color: white;
    border-radius: 20px;
    margin: 10px 0;
    height: 300px;
    img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    .restaurants-card__title {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h4 {
        margin-bottom: 0;
    }
    p {
        margin-top: 5px;
    }
    i {
        font-size: 1.8em;
    }
}

@media (min-width: 770px) {
    .restaurants {
        .restaurants-cards {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
/* ***********************FOOTER 1****************************** */

footer {
    background-color: #353535;
    color: white;
    i {
        font-size: 0.8em;
        padding-right: 10px;  
        position: relative;
        top: +2px;  
    }
    .footer-logo {
        font-family: 'Shrikhand', cursive;
        font-size: 1.2em;
    }
}
.footer-ul {
    padding: 10px 20px 20px;
    p {
        margin-bottom: 10px;
    }
}
.icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: -10px;
    }

    @media (min-width: 770px) {
        .footer-ul { 
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                .icons {
                    margin-bottom: 0;
                }
        }
    }
    /* ***********************INDEX AUTRES ****************************** */
    .index-autres-title {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }

    .header-restaurants__image {
        width: 100%;
        object-fit:cover;
        height: 315px;
    }


    .menu__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        background-color: $bg-color;
        border-radius: 20px 20px 0 0;
        position: relative;
        top:-80px;
        i {
            font-size: 1.7em;
            margin-right: 20px;
        }
        .restaurant-title {
            margin-left: 20px;
        }
    }

    .menu {
        width: 1200px;
        margin: -80px auto;
        background-color: $bg-color;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    @media (max-width: 1200px) {

        .menu {
            width: 100%;
            grid-template-columns: 1fr;
        }
        .menu__title {
            width: 100%;
        }
    }

        .submenu {
            padding: 0 1rem;
    
            .menu-card {
                background-color: $link-text-color;
                padding: 1rem;
                border-radius: 0.75rem;
                margin: 1rem 0;
                cursor: pointer;
                display: flex;
                transition: all 0.2s linear 0s;
                overflow: hidden;
                position: relative;
                animation: fadeInUp 0.5s ease-in-out;
                animation-delay: 2s;
                animation-fill-mode: forwards;
                opacity: 0;
    
                &:after {
                    content: "\f058";
                    font-family: "Font Awesome 5 Free";
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    right: -50px;
                    width: 50px;
                    height: 100%;
                    transition: all 0.2s linear 0s;
                    text-align: center;
                    background: greenyellow;
                }
    
                &:hover {
    
                    &:after {
                      right: 0;
                    }
    
                    .card-price {
                        margin-right: 50px;
                        transition: all 0.2s linear 0s;
                    }
                }
    
                h4 {
                    margin: 0;
                }
    
                p {
                    margin: 0;
                }
    
                .card-text {
                    flex: 1;
                    overflow: hidden;
    
                    p {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
    
                .card-price {
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    transition: all 0.2s linear 0s;
                    margin-right: 0;
                }
            }
    
            .delay-2 {
                animation-delay: 2.2s;
            }

            .delay-3 {
                animation-delay: 2.4s;
            }
        }
    
        .submenu-title {
            text-transform: uppercase;
        }
    
        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translate3d(0,40px,0)
            }
    
            100% {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
    

.button-menus {
    padding: 30px 0;
    width: 1200px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    background-color: $bg-color;
    text-align: center;
}

.btn {
    &:hover {
        opacity: 0.5;
    box-shadow: 10px 5px 5px purple;
    }
}

@media (max-width: 1200px) {
    .menu-card {
        width: 90%;
    }
    .button-menus {
       width: 100%;
    }
}